.addedToCart{
   
    position: absolute;
    align-items: center;
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
    max-width: 1000px;
    
}

.addedToCart h3, .addedToCart p{
    align-self: center;
    color: black;
}

.addedToCart img{
    max-height: 300px;
    max-width: 300px;
}

.addedToCart button{
    margin: auto 0;
}

.footerLinks{
    text-decoration: none;
}
.footerLinks:hover{
    text-decoration: underline;
}

.cityImages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.cityImages img{
        margin: 4rem 2rem 2rem 2rem;
        display: block;
        max-width:100%;
        max-height:1000px;
        width: auto;
        height: auto;
}
.cityImages h3{
    font-size: 3rem;
    margin-top: 3rem;
}

.locationHeader{
    font-size: 5rem;
    text-decoration: underline;
}

.buttonContainer{
    display: flex;
    justify-content:flex-end;
}
.button{
    margin-top: 2rem;
    margin-right: 12rem;
}

.user-info{
    margin: 2rem auto;
    place-self: center;
    color: black;
    font-size: 1.5rem;
    background-color: white;
    max-width: 1000px;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    padding: 0.5%;
}
.user-info p{
    text-align: end;
}